.letter-board {
    height: 300px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 20px outset #C04000;
}

.letter-board.letter-chalk {
    color: #ddd;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 30px;
}

.letter-board.letter-plastic {
    font-family: 'Spectral SC', serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.letter-board.felt-black {
    background-image: url("letter-board-backgrounds/black-letter-board.png");
    background-size: cover;
    border: none; /* Background image has frame. */
    padding: 25px;
    
}

.letter-board.chalkboard-black {
    background-image: url("letter-board-backgrounds/chalkboard-black.jpg");
}

.letter-board.chalkboard-blue {
    background-image: url("letter-board-backgrounds/chalkboard-blue.jpg");
}

.letter-board.chalkboard-green {
    background-image: url("letter-board-backgrounds/chalkboard-green.jpg");
}