.letter-board {
    height: 300px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 20px outset #C04000;
}

.letter-board.letter-plastic {
    font-family: 'Spectral SC', serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.letter-board.felt-black {
    background-image: url("letter-board-backgrounds/black-letter-board.png");
    background-size: cover;
    border: none; /* Background image has frame. */
    padding: 25px;
    
}